# Virtual environments
venv/
venvs/
.venv/
env/
.env/

# Python artifacts
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.so

# VSCode and IDE settings
.vscode/
.vscode-server/
.idea/

# Data files and model artifacts
*.csv
*.tsv
*.pkl
*.pt
*.joblib
*.h5
*.db

# MLflow
mlruns/

# DVC and data tracking
.dvc/
*.dvc
!.dvc
data/
data.dvc
.dvc/cache/
.dvc/tmp/

# Jupyter notebooks
.ipynb_checkpoints/

# Logs
*.log

# System files
.DS_Store
.snap/
.cache/
.local/
.dotnet/
.gitconfig
.wget-hsts
