# === Python & Jupyter Cache ===
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints
*.egg-info/
.DS_Store
# Home/user directories accidentally tracked
.bash_history
.bash_logout
.bashrc
.cache/
.dotnet/


# === Virtual Environments ===
venv/
.venv/
env/
ENV/
*.env

# === IDE Configs ===
.vscode/
.idea/

# === DVC Artifacts ===
/data/
data/**/*
!data.dvc
!.dvc/           # This keeps DVC tracking metadata files
*.dvc.lock
.cache/
.dvc/tmp/
.dvc/cache/
.dvc/plots/
.dvc/stage.d/

# === MLflow Artifacts ===
mlruns/
mlruns/**

# === Logs, outputs ===
*.log
logs/
output/
outputs/
artifacts/
checkpoints/

# === OS Specific ===
Thumbs.db
ehthumbs.db
Icon?
mlops/
